<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sitent.syntSemFeatures/src/main/java/sitent/syntSemFeatures/examples/FeatureExtractionPipeline.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sitent.syntSemFeatures.examples.FeatureExtractionPipeline"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-input resources/examples/input&#10;-wordnet my-resources/wordnet3.0&#10;-countability resources/countability/webcelex_countabilityNouns.txt&#10;-csvOutput resources/examples/csv-output&#10;-xmiOutput resources/examples/xmi-output"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sitent.syntSemFeatures"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
